<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead"><a href="#"><%= campground.name %></a></p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <div class="text-center"><img class="img-responsive" src="<%= campground.image %>"></div>
        <div class="caption">
          <div class="row">
            <p class="col-xs-6">Adicionado por: <a href="/users/<%= campground.author.id %>"> <%= campground.author.username %></a>,
            <span> <%= moment(campground.date, "YYYYMMDD").fromNow(); %>  </span>
            <span class="col-xs-6 text-right"><%= campground.price %></span>
          </p>
          </div>
          <div class="row">
           <p class="col-xs-12"><%= campground.description %></p>
          </div>
        </div>
      </div>
      <div class="well">
<<<<<<< HEAD
        <div>
          <span class="pull-left">Comentários: </span>
          <a class="pull-right btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Comentar</a>
        </div>
        <hr>
=======
            <a class="btn btn-success pull-right" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
          <hr>
>>>>>>> e9c90b176f208d0e6d24e7d4b9a1039b9d9b063d
        <% campground.comments.forEach(function(comment){ %>
          <div class="row comment">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
<<<<<<< HEAD
              <span style="margin-left: 1%"> 
=======
              <span class="commentDate"> 
>>>>>>> e9c90b176f208d0e6d24e7d4b9a1039b9d9b063d
                <%= moment(comment.date, "YYYYMMDD").fromNow(); %> 
              </span>
              <p>
                <%= comment.text %>
              </p>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
  
<% include ../partials/footer %>